@using Microsoft.EntityFrameworkCore;
@using Phlog.Data;
@model IEnumerable<Phlog.Models.Post>
@inject ApplicationDbContext _context;

@{
    var siteSettings = await _context.SiteSettings.FirstOrDefaultAsync();
}

<div class="container pb-3 mt-5">
    <div class="d-flex">
        <section class="col-3 me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-header-title">Dashboard</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <button class="bg-transparent border-0 text-decoration-none text-black" data-bs-toggle="pill" data-bs-target="#tab-categories">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table me-2" viewBox="0 0 16 16">
                                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
                            </svg>Categories
                        </button>
                    </li>
                    <li class="list-group-item">
                        <button class="bg-transparent border-0 text-decoration-none text-black" data-bs-toggle="pill" data-bs-target="#tab-posts">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image me-2" viewBox="0 0 16 16">
                                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z" />
                            </svg>Posts
                        </button>
                    </li>
                    <li class="list-group-item">
                        <button class="bg-transparent border-0 text-decoration-none text-black" data-bs-toggle="pill" data-bs-target="#tab-photographerprofile">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-badge me-2" viewBox="0 0 16 16">
								<path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
								<path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z" />
							</svg>Owner Profile
                        </button>
                    </li>
                    <li class="list-group-item">
                        <button class="bg-transparent border-0 text-decoration-none text-black" data-bs-toggle="pill" data-bs-target="#tab-sitesettings">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe me-2" viewBox="0 0 16 16">
								<path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z" />
							</svg>Site Settings
                        </button>
                    </li>
                </ul>
            </div>
        </section>

        <div class="tab-content col">
            
            <partial name ="_DisplayMessage" />

            <!-- Posts Tab Start -->
            <div id="tab-posts" class="tab-pane list-group active show">
                <div class="list-group-item list-group-item-action bg-light text-white d-flex p-3">
                    <button class="btn btn-info text-white" data-bs-toggle="modal" data-bs-target="#createModal">Create Post</button>
                        <div class="ms-auto">
                            <form class="position-relative">
                                <input class="form-control pe-5 bg-white border-0" placeholder="Search">
                                <button type="submit" class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-black-50">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                    </svg>
                                </button>
                            </form>
                        </div>
                </div>
                <div class="list-group-item list-group-item-action bg-light text-black d-flex">
                    <span class="col-1">Id</span>
                    <span class="col-1 me-5">Thumbnail</span>
                    <span class="col-1">Model Name</span>
                    <span class="col-1 ms-auto">Instagram</span>
                    <span class="col-1 ms-5">Category</span>
                    <span class="col-1 me-3">Tags</span>
                    <span>Action</span>
                </div>
                @{
                    foreach (var post in Model)
                    {
                        var tagList = await _context.Tag
                            .Where(t => t.PostId == post.Id)
                            .ToListAsync();
                                <div class="list-group-item list-group-item-action align-items-center d-flex">
                                    <span class="col-1">@post.Id</span>
                                    <img class="col-1 me-5 img-thumbnail" src="~/uploads/@post.ImageFileName" />
                                    <span class="col-1">@post.ModelName</span>
                                    <span class="col-1 ms-auto">@post.InstagramUsername</span>
                                    <span class="col-1 ms-5">categoRY</span>
                                    <span class="col-1 me-3">@foreach (var tag in tagList)
                                {
                                    @(" " + tag.Name)
                                }</span>
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square text-success me-2" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                        <!-- DELETE Button trigger modal -->
                                        <button class="bg-transparent border-0" data-bs-toggle="modal" data-bs-target="#deleteModal-@post.Id">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash3 text-danger" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                            </svg>
                                        </button>
                                    </span>
                                </div>

                                <!-- Delete Modal -->
                                <div class="modal fade" id="deleteModal-@post.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">@post.Id - Delete post?</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete this post?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                                                <form asp-action="Delete" asp-controller="posts">
                                                    <input type="hidden" name="Id" value="@post.Id" />
                                                    <button type="submit" class="btn btn-danger">Delete</button>                
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    }
                }
            </div>
            <!-- Posts Tab End -->

			<!-- Owner Profile START -->
            <div id="tab-photographerprofile" class="tab-pane col-sm-12 col-lg-4">
				<div class="card shadow">

					<!-- Card header -->
					<div class="card-header border-bottom">
						<h5 class="card-header-title">Owner Profile</h5>
					</div>

					<!-- Card body START -->
					<div class="card-body">
						<form class="row g-3 align-items-center">
                           
                            <img src="~/uploads/default.png" class="mx-auto rounded-circle" style="width: 150px; height: 150px"/>

                            <div class="w-100">
                                <input type="file" name="ImageFile" class="form-control"/>                            
                            </div>


							<!-- Input item -->
							<div class="w-50">
								<input type="text" class="form-control" placeholder="First Name">
							</div>

							<!-- Input item -->
							<div class="w-50">
								<input type="email" class="form-control" placeholder="Last Name">
							</div>

							<!-- Textarea item -->
							<div class="w-100">
								<textarea class="form-control" rows="3" placeholder="About Me"></textarea>
							</div>

							<!-- Input item -->
							<div class="w-100">
								<input type="text" class="form-control" placeholder="Phone Number">
							</div>

                            <!-- Input item -->
                            <div class="w-100">
                                <input type="email" class="form-control" placeholder="Instagram">
                            </div>

                            <!-- Input item -->
                            <div class="w-100">
                                <input type="email" class="form-control" placeholder="Facebook">
                            </div>

                            <!-- Input item -->
                            <div class="w-100">
                                <input type="email" class="form-control" placeholder="Twitter">
                            </div>


							<!-- Save button -->
							<div class="d-sm-flex justify-content-end">
								<button type="button" class="btn btn-info mb-0 text-white">Update</button>
							</div>
						</form>
					</div>
					<!-- Card body END -->

				</div>
			</div>
			<!-- Photographer Profile END -->

            <!-- Site Settings START -->
            <div id="tab-sitesettings" class="tab-pane col-sm-12 col-lg-5">
				<div class="card shadow">

					<!-- Card header -->
					<div class="card-header border-bottom">
						<h5 class="card-header-title">Site Settings</h5>
					</div>

					<!-- Card body START -->
                    <div class="card-body">
                        <form asp-action="UpdateSiteSettings" asp-controller="Admin">

							<!-- Input item -->
							<div class="mb-3 w-100">
								<input type="text" name="SiteName" class="form-control" placeholder="Site Name" value="@siteSettings.SiteName" />
							</div>

							<!-- Textarea item -->
							<div class="mb-3 w-100">
								<textarea class="form-control" name="SiteDescription" rows="3" placeholder="Site Description - Used for Search Engine Optimization.">@siteSettings.SiteDescription</textarea>
							</div>

							<!-- Save button -->
							<div class="d-sm-flex justify-content-end">
								<button type="submit" class="btn btn-info mb-0 text-white">Update</button>
							</div>
						</form>
					</div>
					<!-- Card body END -->

				</div>
			</div>
			<!-- Site Settings END -->


        </div>


    </div>
</div>

<!-- Create Post Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create a new post</h1>
      </div>
        <form asp-action="create" asp-controller="posts" enctype="multipart/form-data">
          <div class="modal-body">
              <div class="mb-3">
                <input type="file" name="ImageFile" class="form-control mb-3" accept="image/png" required/>
                <input type="text" name="ModelName" class="form-control mb-3" placeholder="Model Name" required/>
                <input type="text" name="InstagramUsername" class="form-control mb-3" placeholder="Instagram Handle" />
                <input type="text" name="Tag.Name" class="form-control mb-3" placeholder="Tags" />
                <select name="Category" class="form-select mb-3" required>
                    <option selected>Choose a category</option>
                    <option value="portrait">Portrait</option>
                    <option value="cosplay">Cosplay</option>
                </select>
              </div>
          </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-info text-white">Create Post</button>
              </div>
        </form>
    </div>
  </div>
</div>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
